.view-slider {

  $block-name:                &; // #{$block-name}__element

  &__img {
    border-radius: $border-radius--lg;
    cursor: zoom-in;

    img {
      object-fit: cover;
      object-position: center;
    }
  }
}
