.page-header {
  position: relative;
  z-index: 10;
  background-color: $white;

  $block-name:                &; // #{$block-name}__element

  .lang-switcher {

    @media (min-width: $screen-md) {
      margin-left: 16px;
    }
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;

    @media (min-width: $screen-md) {
      padding: 24px 0;
    }
  }

  &__logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    opacity: 1;
    overflow: hidden;
    will-change: auto;
    transition: all 0.3s ease-in-out;

    @media (max-width: $screen-md - 1) {
      flex: 1 1 100%;
    }

    .logo {
      flex: 0 0 auto;
    }
  }

  &__slogan {
    flex: 0 0 135px;
    height: 60px;
    width: 134px;
    font-size: 24px;
    font-family: $font-family--script;
    line-height: 1.3;

    @media (min-width: $screen-md) {
      margin-left: 32px;
    }

    @media (min-width: $screen-xl) {
      flex: 0 0 auto;
      width: auto;
      height: auto;
    }
  }

  &__service {
    flex: 1 1 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    order: -1;

    @media (max-width: $screen-md - 1) {
      margin-bottom: 16px;
    }

    @media (min-width: $screen-md) {
      flex-grow: 0;
      flex-basis: auto;
      order: 0;
      margin-left: auto;
      //margin-right: 16px;
    }
  }

  &__btn {

    @media (max-width: $screen-sm - 1) {
      font-size: 16px;
    }
  }

  &__link {
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    padding: 16px 0;
    text-decoration: none;
    color: inherit;

    @media (min-width: $screen-md) {
      margin-right: 16px;
    }
  }

  &--sticky {

    &.is-active {
      position: sticky;
      top: 0;

      #{$block-name}__logo-wrapper {

        @media (max-width: $screen-md - 1) {
          height: 0;
          opacity: 0;
        }
      }

      #{$block-name}__service {

        @media (max-width: $screen-md - 1) {
          margin-bottom: 0;
        }
      }
    }
  }
}
