.price {

  $block-name:                &; // #{$block-name}__element

  &__inner {
    margin-bottom: 24px;
  }

  &__col {
    @include col(xs, 12);
    @include col(md, 6);
    @include col(xl, 4);
    margin-bottom: 16px;

    &--only {
      @include col(md, 12);
      @include col(xl, 12);
    }
  }

  &__title {
    margin-top: 0;
  }

  &__item {
    padding: 24px;
    border: 2px solid $pink;
    border-radius: $border-radius--lg;

    @media (min-width: $screen-md) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__item-text {

    @media (min-width: $screen-md) {
      margin-bottom: 0;
    }

    & > span {
      display: inline-block;
      vertical-align: baseline;
      font-size: $font-size-lg;

      &:empty {
        display: none;
      }
    }
  }

  &__event-name {
    margin-bottom: 8px;
    font-weight: 700;

    & + br {

      @media (min-width: $screen-md) {
        display: none;
      }
    }
  }

  &__event-date {
    margin-bottom: 8px;

    @media (min-width: $screen-md) {
      margin-top: 0 !important;
      margin-left: 8px;
    }
  }

  &__event-price {
    padding: 2px 12px;
    font-weight: 700;
    color: $white;
    background-color: $main-color;
    border-radius: $border-radius;
  }
}
