.btn {

  $block-name:                &; // #{$block-name}__element

  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  height: 60px;
  margin: 0;
  padding: 0 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  line-height: $line-height;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  white-space: nowrap;
  color: $text-color;
  border: none;
  border-radius: $border-radius;
  background-color: $white;
  background-image: none;
  user-select: none;
  cursor: pointer;
  transition: all $transition-time;

  @media (min-width: $screen-md) {
    height: 72px;
    padding: 0  $field-padding-horizontal;
  }

  &:hover,
  &:focus {
    text-decoration: none;
    color: $text-color;
    background-color: $pink;
    // border-color: darken($gray-lighter, 12%);
  }

  &:active,
  &:focus {
    // @include field-focus;
  }

  svg {
    fill: currentColor;
  }

  &--disabled,
  &:disabled {
    // opacity: $opacity;
    cursor: not-allowed;
    color: $text-muted;
    background-color: $block-bg;
    //border-color: $gray-lighter;

    @at-root a.btn--disabled {
      pointer-events: none;
    }
  }

  &--cta {
    color: $white;
    background-color: $main-color;
  }


  // &--main {
  //   color: #fff;
  //   background-color: $color-main;
  //   border: 1px solid $color-main;

  //   &:hover,
  //   &:focus {
  //     color: #fff;
  //     background-color: darken($color-main, 10%);
  //     border-color: darken($color-main, 12%);
  //   }

  //   &--disabled,
  //   &:disabled {
  //     color: #fff;
  //     background-color: $color-main;
  //     border-color: $color-main;
  //   }
  // }
}
