.hero {
  padding-top: 40px;
  padding-bottom: 72px;

  @media (min-width: $screen-xl) {
    //padding-top: 96px;
    padding-bottom: 96px;
  }

  $block-name:                &; // #{$block-name}__element

  &__text {
    position: relative;
    //text-align: center;

    @media (min-width: $screen-xl) {
      position: relative;
      //text-align: initial;
    }
  }

  &__title {
    max-width: 240px;
    margin-bottom: 0;
    font-size: 40px;
    line-height: 1;
    text-transform: uppercase;

    @media (min-width: $screen-md) {
      max-width: 330px;
      font-size: 50px;
      line-height: 1.3;
    }

    @media (min-width: $screen-xl) {
      max-width: 800px;
      margin-bottom: 50px;
      font-size: 72px;
    }

    span:not(.hero__script) {
      color: $main-color;
    }
  }

  &__script {
    display: block;
    margin-top: 16px;
    font-size: 32px;
    font-family: $font-family--script;
    font-weight: 400;
    text-transform: none;
    //color: $main-color;

    @media (min-width: $screen-md) {
      font-size: 40px;
    }

    @media (min-width: $screen-xl) {
      font-size: 52px;
    }
  }

  &__photo {
    position: absolute;
    top: 135px;
    right: 10px;
    z-index: -1;
    //margin-top: -5px;

    @media (min-width: $screen-md) {
      top: -35px;
      right: 35px;
    }

    @media (min-width: $screen-xl) {
      //position: absolute;
      top: -5px;
      right: 75px;
      margin-top: -10px;
      text-align: right;
    }

    img {
      width: auto;
      height: 325px;

      @media (min-width: $screen-md) {
        height: 591px;
      }
    }
  }

  &__info {
    margin-top: 135px;

    @media (min-width: $screen-md) {
      margin-top: 80px;
    }

    @media (min-width: $screen-xl) {
      max-width: 790px;
      margin-top: 0;
      text-align: initial;
    }
  }

  &__data-detail {

    @media (min-width: $screen-xl) {
      margin-bottom: 0;
    }
  }

  &__datetime {
    display: inline-flex;
    flex-direction: column;
    line-height: 1.2;
    font-size: 40px;
    text-transform: uppercase;

    @media (min-width: $screen-xl) {
      flex-direction: row;
    }
  }

  &__date {
    display: block;
    //margin-bottom: 16px;
    //font-size: 64px;
    font-weight: 700;

    @media (min-width: $screen-md) {
      display: inline-block;
      vertical-align: baseline;
      margin-right: 16px;
      //margin-bottom: 0;
    }

    @media (min-width: $screen-md) and (max-width: $screen-xl - 1) {
      margin-bottom: 16px;
    }

    &:first-letter {
      color: $main-color;
    }
  }

  &__time {
    font-family: $font-family--script;
    font-weight: 400;
    color: $main-color;
  }

  &__location,
  &__location-descr {
    text-align: center;

    @media (min-width: $screen-xl) {
      text-align: initial;
    }
  }

  &__location {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;

    @media (min-width: $screen-md) and (max-width: $screen-xl - 1) {
      margin-top: 56px;
    }

    @media (min-width: $screen-xl) {
      margin-top: 0;
    }
  }

  &__location-descr {
    font-size: $font-size-lg;
  }

  &__media-wrapper {
    margin-top: 40px;
  }

  &__map-link-col {
    @include col(xs, 12);
    @include col(xl, 4);

    @media (max-width: $screen-xl - 1) {
      margin-bottom: 24px;
    }
  }

  &__view-slider-col {
    @include col(xs, 12);
    @include col(xl, 8);
  }
}
