.giveaway {
  padding-top: 72px;
  padding-bottom: 30px;

  @media (min-width: $screen-xl) {
    padding-top: 96px;
    padding-bottom: 0;
  }

  $block-name:                &; // #{$block-name}__element

  &__text {
    text-align: center;

    @media (min-width: $screen-xl) {
      position: relative;
      z-index: 1;
      max-width: 39%;
      text-align: initial;
    }
  }

  &__title {
    margin-top: 0;
  }

  &__intro {
    font-size: $font-size-lg;
  }

  &__img {
    margin-top: 16px;
    overflow: hidden;

    @media (min-width: $screen-xl) {
      position: relative;
      margin-top: -170px;
    }

    img {
      display: block;
      object-fit: cover;
      object-position: center;
    }
  }
}
