.social-links {
  display: inline-flex;

  $block-name:                &; // #{$block-name}__element

  &__item {

    & + & {
      margin-left: 4px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;

    &:hover,
    &:focus {
      color: $pink;
    }
  }
}
