.workshop {
  padding-top: 72px;
  padding-bottom: 72px;

  @media (min-width: $screen-xl) {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  $block-name:                &; // #{$block-name}__element

  &__inner {

    // @media (min-width: $screen-xl) {
    //   align-items: center;
    // }
  }

  &__star-col {
    @include col(xs, 12);
    @include col(md, 2);
    //@include col(xl, 5);

    @media (max-width: $screen-md - 1) {
      margin-bottom: 24px;
    }

    // @media (min-width: $screen-xl) {
    //   margin-bottom: 0;
    // }
  }

  &__text-col {
    @include col(xs, 12);
    @include col(md, 10);
    @include col(xl, 8);
  }

  &__star {
    width: 95px;
    height: 95px;
    //margin: 0 auto;

    // @media (min-width: $screen-md) {
    //   margin-left: 0;
    // }

    @media (min-width: $screen-xl) {
      width: 180px;
      height: 180px;
      //margin: auto;
    }

    img {
      object-fit: cover;
      object-position: center;
    }
  }

  // &__text {

  //   @media (min-width: $screen-xl) {
  //     padding-top: 40px;
  //     padding-bottom: 40px;
  //   }
  // }

  &__title {
    margin-top: 0;
    color: $main-color;
  }

  &__intro {
    margin-bottom: 24px;
    font-size: $font-size-lg;
  }
}
