.guest-expert {
  padding-bottom: 72px;

  @media (min-width: $screen-xl) {
    padding-bottom: 96px;
  }

  $block-name:                &; // #{$block-name}__element

  &__container {
    position: relative;
  }

  &__title {
    position: absolute;
    top: -65px;
    right: 50px;
    transform: rotate(8.6deg);
    margin: 0;
    width: 250px;
    padding: 16px;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    background-color: $pink;
    border-radius: 12px;

    @media (min-width: $screen-md) {
      top: -37px;
      right: 10px;
    }

    @media (min-width: $screen-xl) {
      top: -25px;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 24px 0;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-left: -16px;
    margin-right: -16px;
    background-color: $block-bg;
    border-radius: $border-radius--lg;

    @media (min-width: $screen-md) {
      padding: 24px;
      margin: 0;
    }

    @media (min-width: $screen-xl) {
      flex-direction: initial;
      flex-wrap: wrap;
    }
  }

  &__text,
  &__img {
    flex: 1 1 100%;
    border-radius: $border-radius--lg;

    @media (min-width: $screen-xl) {
      flex: 0 0;
      flex-basis: calc(50% - 12px);
      gap: 24px;
    }

    @media (min-width: $screen-xl) {

      &:nth-child(1) {
        order: 0;
      }

      &:nth-child(2) {
        order: 1;
      }

      &:nth-child(3) {
        order: 3;
      }

      &:nth-child(4) {
        order: 2;
        margin-left: 0;
        margin-right: 24px;
      }

      &:nth-child(5) {
        order: 4;
      }

      &:nth-child(6) {
        order: 5;
      }
    }
  }

  &__text {
    padding: 40px 16px;
    background-color: $white;

    @media (min-width: $screen-md) {
      padding: 40px;
    }

    ul + ul {
      margin-top: 16px;
    }

    li + li {
      margin-top: 16px;
    }
  }

  &__subtitle {
    margin-top: 0;
    margin-bottom: 12px;
  }

  &__lead {
    font-weight: 500;
  }

  &__img {
    max-width: 360px;
    margin: 0 auto;
    overflow: hidden;
    background-color: $white;
    border-radius: $border-radius--lg;

    @media (min-width: $screen-md) {
      max-width: 640px;
    }

    @media (min-width: $screen-xl) {
      max-width: 564px;
      margin-right: 0;
    }

    img {
      display: block;
      height: auto;
      border-radius: $border-radius--lg;
    }
  }
}
